*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    line-height: 1.4;
}
button{
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
    border: none;
}
button:hover{
    transition: 0.2s ease-in-out;
opacity: 0.8s;
}
.explore-btn{
    background-color: sandybrown;
    align-self: flex-start;
}
.features{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
justify-content: center;
}
.feature img{
    width: 70px;
}
.feature{
    display: flex;
    gap: 20px;
padding: 20px;
}
.features:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
}
nav{
    box-shadow:4px 4px 4px rgb(229, 226, 226);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
}
.navigation{
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bar-icon{
    font-size: 32px;
}
.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag{
    color: white;
    background-color: #149f39;
    padding: 5px 10px;
    align-self: flex-start;
}
.hero-content h1{
font-size: 72px;
line-height: 1.2;
font-weight: 400;
}
.divider{
    border: 1px solid grey;
    margin: 20px 0;
}
.menu{
    display: flex;
    flex-direction: column;
    gap:30px;
    margin: 50px 0;
    align-items: center;
}
.menu .tag{
    align-self: center;
}
.grid{
    display: grid;
    gap: 10px;
    grid-template-areas: "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
     
}
.grid-img{
    border-radius: 10px;
    transition: 0.2s ease-in-out;
width: 100%;
height: 100%;
}
.grid-img:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;

}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}
footer{
    background-color: bisque;
}
.footer-container{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.link-list h3{
    margin-bottom: 10px;
    color: grey;
}
.news-letter h3{
    margin-bottom: 10px;
    color: grey;
}
.link-list ul{
    list-style: none;
}
.link-list ul{
    color: grey;
}
.news-letter input{
    padding: 5px 40px;
    margin-bottom: 10px;
}
.icon-container{
    display: flex;
    gap: 15px;
    font-size: 32px;
}
@media (max-width:786px){
    .hero{
        flex-direction: column;
    }

    .hero-img{
        display: flex;
        justify-content: center;
    }
    .hero-content{
        gap: 10px;
        padding: 10px;
    }
    .hero-content h1{
font-size: 30px;
    }
.features{
    flex-direction: column;
}
.feature{
    flex-direction: column;
}
}